@font-face {
    font-family: Box;
    src: url(./BoxedRound.ttf);
}

body {
    user-select: none;
    /* display: none; */
}
.container {
    position: absolute;
    background-color: rgb(90, 90, 90);
    width: 35vw;
    height: 15vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: .3vw;
    overflow: hidden;
}
.left-panel {
    background-color: rgb(61, 68, 100);
    width: 7vw;
    height: 15vw;
    float: left;
}
.header {
    /* background-color: rgba(39, 122, 206, 0.493); */
    text-align: center;
    color: aliceblue;
    height: 2.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: .8rem;
}
.option {
    /* background-color: rgba(39, 122, 206, 0.493); */
    text-align: center;
    color: aliceblue;
    height: 1.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: .2s;
}
.option:hover {
    background-color: rgba(39, 122, 206, 0.493);
    transition: .2s;
}
.right-panel {
    background-color: rgb(28, 34, 61);
    height: 15vw;
}
.title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: aliceblue;
    font-size: 1vw;
    height: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bloque-texto {
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-style: none;
    width: 15vw;
    height: 3.5vw;
    border-radius: .4vw;
}
.button-style {
    border-style: none;
    width: 4vw;
    height: 1.3vw;
    border-radius: .3vw;
    background: rgb(255, 255, 255);
    position: absolute;
    left: 60%;
    top: 75%;
    transform: translate(-50%, -70%);
    transition: .2s;
}
.button-style:hover {
    cursor: pointer;
    background: rgb(15, 59, 141);
    color: aliceblue;
    transition: .2s;
}
.bloque-anuncio {
    position: absolute;
    width: 20vw;
    height: 4vw;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
}
.anuncio {
    background-color: rgb(28, 34, 61);
    min-width: 12vw;
    min-height: 2.5vw;
    border-radius: .2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: aliceblue;
    font-family: Box;
    font-size: .8vw;
    padding: .5vw;
}

.bloque-header{
    position: absolute;
    background-color: rgb(75, 90, 156);  
    min-width: 1vw;
    height: 1vw;
    top: -22%;
    left: 5%;
    padding: .2vw;
    border-radius: .2vw;
    color: white;
    font-family: Box;
    font-size: .8vw;
}

#audio{
    display: none
}

#timeout {
    position: absolute;
    top: 71%;
    left: 47%;
    width: 1.2vw;
    border-style: none;
    background-color: rgb(15, 59, 141);
    color: white;
    border-radius: .3vw;
}
.container-presets {
    /* background-color: aqua; */
    width: 22vw;
    height: 10vw;
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow-y:scroll;
    flex:1 1 auto;
    overflow-y:auto;
    overflow-x:hidden;
}
.preset {
    background-color: rgb(75, 90, 156);
    height: 4vw;
    border-radius: .3vw;
    margin-block-end: .5vw;
}
.type {
    color: rgb(199, 228, 32);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}
.message {
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: .7vw;
    display: flex;
    justify-content: center;
    margin-top: .5vw;
}
.button {
    border-style: none;
    border-radius: .3vw;
    transform: translate(9.5vw, .2vw);
    transition: .2s;
}
.button:hover {
    cursor: pointer;
    background: rgb(15, 59, 141);
    color: aliceblue;
    transition: .2s;
}
::-webkit-scrollbar{
    position:absolute;
    width:.2vw;
    height:.1vw;
    left:-.5vw;
    transition: .5s;
}
::-webkit-scrollbar-button{
    width:0;
    height:0;
}
::-webkit-scrollbar-thumb{
    background:#ffffff;
    border-radius:20vw;
}
::-webkit-scrollbar-corner{
    background:transparent;
}
